
.devise {
  display: flex;
  justify-content: center;
  input {
    width: 100%;
  }
  .box {
    margin-top: 10%;
    h2 {
      margin-bottom: 30px;
    }
    .field {
      margin-bottom: 10px;
    }
    input[type='checkbox'] {
      width: inherit;
    }
    .actions {
      margin-top: 15px;
      input {
        padding: 4px;
      }
    }
  }
}
